* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.art1 {
  max-width: 820px;
  margin: 0 auto;
  margin-top: 50px;
}
.art2 {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 50px;
}
.art22 {
  max-width: 200px;
  margin-top: 50px;
  position: absolute;
  top: 65%;
  left: 80%;
}

.artEdu {
  text-align: justify;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  padding: 15px;
}

.ContArtEdu {
  background-color: rgba(197, 253, 255, 0.514);
}

a {
  text-decoration: none;
  color: white;
}

.a1 {
  border: 1px solid rgb(18, 160, 18);
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(18, 160, 18);
}

.a1:hover {
  border: 1px solid rgb(24, 27, 197);
  background-color: rgb(24, 27, 197);
  color: white;
}

.animasi {
  margin: 0 auto;
}
.iframe {
  margin-left: 350px;
}

.card-profile {
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 6px 4px rgba(92, 83, 83, 0.4);
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

.card-profile:hover {
  background: #6e8197;
  color: whitesmoke;
}
